@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page="Main/Addfile" method="get">
    <input type="submit" class="btn btn-info"   value="Create"/>
    <input type="hidden" value=@Model.path name="path"/>
</form>
<h2>@Model.path</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Upload</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model.Filelist)
        {
            if (item.IsDirectory)
            {
                <tr style="background-color:black;color:white">

                    <td>@item.Name</td>
                    <td>@item.UploadDate</td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.UploadDate</td>
                    <td>@item.Weight</td>
                </tr>
            }
        }

    </tbody>
</table>