@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Stylesheets
{
<link rel="stylesheet" href="~/css/mobile.css" media="screen">
}
<div class="container">
    <div class="row">
        <div class="col" style="padding-left:1px"><input type="text" asp-for="path" name="DirName" class="form-control" readonly /></div>
        <div class="col-xs-auto " style="text-align: right;">
            <form asp-page="Main/Addfile" method="get">
                <input type="image" src="/Img/fileadd.png" width="40" height="40" value="AddFile" name="btn" />
                <input type="hidden" value=@Model.path name="path" />
            </form>
        </div>

        <div class="col-md-auto form-group" style="margin-left:10px;padding-right:1px">
            <form method="post">
                <div class="row">
                    <div class="col-xs-auto"><input type="image" src="/Img/folderadd.png" width="40" height="40" value="NewDir" /></div>
                    <div class="col"><input type="text" name="DirName" class="form-control" placeholder="Directory name" /></div>
                </div>
                <input type="hidden" value=@Model.path name="path" />
                <input type="hidden" value="NewDir" name="btn" />

            </form>
        </div>

    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Upload</th>
            <th scope="col">Weight</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (!string.IsNullOrEmpty(@Model.OldPath))
        {
            <tr onclick="window.location='?spath=@Model.OldPath.Replace("\\","\\\\")';" style="cursor:pointer">
                <td><img src="/Img/folder.png" width="40" height="40" /></td>
                <td>...</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @foreach (var item in Model.Filelist.OrderByDescending(x => x.IsDirectory))
        {
            if (item.IsDirectory)
            {
                <tr onclick="window.location='?spath=@item.Path.Replace("\\","\\\\")\\@item.Name';" style="cursor:pointer">
                    <td><img src="/Img/folder.png" width="40" height="40" /></td>
                    <td>
                        @item.Name

                    </td>
                    <td>@item.UploadDate</td>
                    <td></td>
                    <td>
                        <input id="DeleteDir" type="image" src="~/Img/delete.png" width="30" height="30" style="margin-left:25px" model-target="#ModalDelete@(item.Id)" />
                    </td>
                </tr>
                <!-- Modal delete -->
                <tr style="display:none">
                    <div class="modal fade" id="ModalDelete@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="white-space:normal">
                                    The directory and the files inside it will be permantly deleted
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form method="post">
                                        <input class="btn btn-danger" type="submit" name="btn" value="Delete" />
                                        <input type="hidden" value=@item.Id name="Id" />
                                        <input type="hidden" value="@item.Name" name="name" />
                                        <input type="hidden" value=@Model.path name="path" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>

            }
            else
            {
                <tr>
                    <td><img src="/Img/file.png" width="40" height="40" /></td>
                    <td>
                        <lable id="LabelName" ref-id="Mod@(item.Id)">@item.Name</lable>
                        <form method="post" ref-id="Mod@(item.Id)">
                            <input name="NewName" id="InputName" ref-id="Mod@(item.Id)" type="text" style="display:none" />
                            <input type="hidden" value=@Model.path name="path" />
                            <input type="hidden" value=@item.Id name="Id" />
                        </form>
                    </td>
                    <td>@item.UploadDate</td>
                    <td>@item.Weight</td>
                    <td>
                        <div class="row">
                            <div class="col-xs-auto">
                                <form method="post">
                                    <input type="image" src="/Img/download.png" width="30" height="35" alt="Download" style="padding-bottom:5px" />
                                    <input type="hidden" value="Download" name="btn" />
                                    <input type="hidden" value=@item.Id name="Id" />
                                    <input type="hidden" value="@item.Name" name="name" />
                                    <input type="hidden" value=@Model.path name="path" />
                                </form>
                            </div>
                            <div class="col-xs-auto">
                                <input type="image" src="~/Img/delete.png" width="30" height="30" style="margin-left:10px" data-toggle="modal" data-target="#ModalDelete@(item.Id)" />
                                <!-- Modal delete -->
                        <div class="modal fade" id="ModalDelete@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="white-space:normal">
                                                The file will be permantly deleted
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <form method="post">
                                                    <input class="btn btn-danger" type="submit" name="btn" value="Delete" />
                                                    <input type="hidden" value=@item.Id name="Id" />
                                                    <input type="hidden" value="@item.Name" name="name" />
                                                    <input type="hidden" value=@Model.path name="path" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-auto">
                                <input type="image" src="~/Img/info.png" width="30" height="30" style="margin-left:10px" data-toggle="modal" data-target="#Modal@(item.Id)" />

                                <!-- Modal details -->
                        <div class="modal fade" id="Modal@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="white-space:normal">
                                                @item.Description
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="post" onclick="return confirm('Are you sure you want to delete this?')">

                                    <input type="hidden" name="btn" value="Delete" />
                                    <input type="hidden" value=@item.Id name="Id" />
                                    <input type="hidden" value=@item.Name name="name" />
                                    <input type="hidden" value=@Model.path name="path" />
                                </form>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@if (Model.Error != null)
{
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">ERROR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="white-space:normal">
                    @Model.Error
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    @if (Model.Error != null)
    {
<script type="text/javascript">
    $(window).on('load', function () {
        $('#ErrorModal').modal('show');
    });

</script>
    }
<script >
    $(document).ready(function () {
        var Btn = $('#DeleteDir');
        var Modal = Btn.attr('model-target');
        Btn.click(function (event) {
            event.stopPropagation();
            $(Modal).modal('show');

        });

        $('#LabelName').each(function () {
            var input = $(this).attr('ref-id');
            $(this).on("click", function () {
                $('input[ref-id=' + input + ']').val($(this).text());
                $(this).hide();
                $('input[ref-id=' + input + ']').show();
                $('input[ref-id=' + input + ']').focus();
                $('input[ref-id=' + input + ']').select();
            });
        });
        $('#InputName').each(function () {
            var lable = $(this).attr('ref-id');
            $(this).keydown((e) => {
                if (e.key === "Enter") {
                    $('form[ref-id=' + input + ']').submit();
                }
                if (e.key === "Escape") {
                    $(this).hide();
                    $(this).blur();
                    $('lable[ref-id=' + lable + ']').show();

                }
            })
        });
    });
</script>
}

