@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page="Main/Addfile" method="get">
    <input type="submit" class="btn btn-info" value="Create" />
    <input type="hidden" value=@Model.path name="path" />
</form>
<form method="post">
    <input type="submit" class="btn btn-info"   value="New Dir"/>
    <input type="hidden" value=@Model.path name="path"/>
    <input type="text" name="DirName"/>
</form>
<h2>@Model.path</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Upload</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>
    <tbody>
        @if(@Model.OldPath!="")
        {
            <tr onclick="window.location='?spath=@Model.OldPath.Replace("\\","\\\\");"  style="background-color:black;color:white;cursor:pointer">

                    <td>...</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        }
        @foreach (var item in Model.Filelist.OrderByDescending(x=>x.IsDirectory))
        {
            if (item.IsDirectory)
            {
                <tr onclick="window.location='?spath=@item.Path.Replace("\\","\\\\")\\@item.Name';"  style="background-color:black;color:white;cursor:pointer">

                    <td>@item.Name</td>
                    <td>@item.UploadDate</td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.UploadDate</td>
                    <td>@item.Weight</td>
                    <td>
                        <a href="" target="_blank" class="btn btn-dark">Download</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

